<html>
<head>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
</head>
<body>
<p>Fill out the form below to create a brand new YOUNGHOOOOOOOO</p>
<form action="/tasker/new/" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" value="Add New"/>
</form>
</body>
</html>